<table width="100%" cellpadding="0" cellspacing="0" border="0" style="font-family:Trebuchet MS, Helvetica, sans-serif;">
    <tbody>
    <tr>
        <td align="center" >
            <table style="width: 600px; height: 100%; background: #efefef;">
                <tr>
                    <td class="container" style="margin: 0 auto; width: 600px;">

                        <!-- Message start -->
                        <table  cellpadding="0" cellspacing="0" border="0"  style="width: 100% !important;border-collapse: collapse; ">
                            <tr>
                                <td align="center" class="masthead" style="padding: 50px 0; background: #ea4351; color: white;">

                                    <h1 style="margin: 0 auto !important; max-width: 90%; text-transform: uppercase;">Issue Information</h1>
                                </td>
                            </tr>
                            <tr>
                                <td class="content" style="background: white;
					padding: 30px 35px;">

                                    <h2>Hello Admin,</h2>

                                    <p>Something is technically wrong - we meet some issues while buying, please check details below.<br/>

                                    </p>

                                    <table align="center" border="0" cellpadding="0" cellspacing="0" align="left" width="100%"  >
                                        <tbody>

                                        <tr>
                                            <td align="left" style="color: #333333; padding: 10px 10px; background-color: #fbfbfb; font-family:Lucida Console, Monaco, monospace; font-size: 12px;">
                                                <p>
                                                   <strong>Error Class:</strong> {{var error_class}}
                                                </p>
                                                <p>
                                                    <strong>Error Message:</strong> {{var message}}
                                                </p>

                                                <p>
                                                    <strong>Stack Trace:</strong><br/>
                                                    {{var stack_trace}}
                                                </p>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <p><em>– CodesWholesale Team</em></p>

                                </td>
                            </tr>
                        </table>

                    </td>
                </tr>
                <tr>
                    <td align="center" style="display: block !important;clear: both !important;margin: 0 auto !important; important;">

                        <!-- Message start -->
                        <table  cellpadding="0" cellspacing="0" border="0" >
                            <tr>
                                <td align="center" style=" background: none;">
                                    <p style="margin-bottom: 0; color: #888; text-align: center; font-size: 14px; "></p>
                                    <p style="margin-bottom: 0; color: #888; text-align: center; font-size: 14px; "></p>
                                </td>
                            </tr>
                        </table>

                    </td>
                </tr>
            </table>

        </td>
    </tr>
    </tbody>
</table>