<table width="100%" cellpadding="0" cellspacing="0" border="0" style="font-family:Trebuchet MS, Helvetica, sans-serif;">
    <tbody>
    <tr>
        <td align="center" >
            <table style="width: 600px; height: 100%; background: #efefef;">
                <tr>
                    <td>
                        <!-- Message start -->
                        <table  cellpadding="0" cellspacing="0" border="0"  style="width: 100% !important;border-collapse: collapse; ">
                            <tr>
                                <td align="center" style="padding: 50px 0; background: #83aa30; color: white;">

                                    <h1 style="margin: 0 auto !important; max-width: 90%; text-transform: uppercase;">Order ID: {{var order_id}}</h1>
                                </td>
                            </tr>
                            <tr>
                                <td style="background: white;padding: 30px 35px;">

                                    <h2>Hello {{var username}},</h2>
                                    <p>Thank you for ordering. Look for keys below:</p>

                                    <table align="center" border="0" cellpadding="0" cellspacing="0" align="left" width="100%"  >
                                        <tbody>
                                        <tr>
                                            <td>
                                                <p><!--You can put here your text to customer ;) Enjoy ! Remember to don't change line below ! --></p>
                                                <p>{{block type='core/template' area='frontend' template='apiplugin/email/cw_keys_loop.phtml' keys=$keys}}<br/></p>
                                                <br>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <table align="center" cellpadding="10" cellspacing="0" border="0" >
                                        <tr>
                                            <td >
                                                <p>
                                                    <a href="#" style="display: inline-block; color: white;  background: #83aa30;  border: solid #83aa30;  border-width: 10px 20px 8px;  font-weight: bold;  border-radius: 4px;"> Visit our Store  </a>
                                                </p>
                                            </td>
                                        </tr>
                                    </table>

                                    <p>Enjoy !</p>

                                    <p><em>– {{store_name}}</em></p>

                                </td>
                            </tr>
                        </table>

                    </td>
                </tr>
                <tr>
                    <td align="center" style="display: block !important;clear: both !important;margin: 0 auto !important;">
                        <!-- Message start -->
                        <table  cellpadding="0" cellspacing="0" border="0" >
                            <tr>
                                <td align="center" style=" background: none;">
                                    <p style="margin-bottom: 0; color: #888; text-align: center; font-size: 14px; ">Sent from<a style="color: #888;text-decoration: none;font-weight: bold; "  href="#">{{store_name}}</a></p>
                                    <p style="margin-bottom: 0; color: #888; text-align: center; font-size: 14px; ">
                                        <a style="color: #888;text-decoration: none;font-weight: bold; " href="mailto:">{{store_url}}</a></p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    </tbody>
</table>